<%= form_for @article do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> - You can't do it because:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "newart" %>
  </p>
</div>
<div class="form-group">
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
</div>
<%= image_tag(@article.photo_url) if @article.photo? %>

<p>Choose file (jpg, jpeg, gif, png)</p>

<div class=”form-group”>
  <p><%= f.file_field :photo %></p>
</div>

  <p>
    <%= f.submit "Click here to update article" %>
  </p>

<% end %>
