<h1>Listing Articles</h1>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"></div>


<% if Article.all.any? %>
  <table class="table">
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.user.email %></td>
        <td><%= article.title[0..10] %></td>
        <td><%= article.text[0..10] + "..." %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <% if can? :manage_own_article, article %>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td><td></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>

<div class="panel-body">
  <h4>Sorry there are no articles!</h4>
</div>
<% end %>

</div>


<%= link_to 'New article', new_article_path %>
