<h1>Article</h1>

<div class="panel panel-default">
  <div class="panel-heading"></div>
  <table class="table">
    <tr>
      <th>Author:</th><td><%= @article.user.email.to_s.split("@")[0].titleize %></td>
    </tr>
    <tr>
      <th>Title:</th><td><%= @article.title %></td>
    </tr>
    <tr>
      <th>Text:</th><td><%= @article.text %></td>
    </tr>
  </table>
</div>
<p><%= image_tag(@article.photo_url) if @article.photo? %></p>
<h2>Comments</h2>

<div class="panel panel-default">
  <div class="panel-heading"></div>
  <table class="table">

<%= render @article.comments %>

  </table>
</div>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<span class="glyphicon glyphicon-chevron-left"></span>
<%= link_to 'Back', articles_path %>

