<!DOCTYPE html>
<html>
<head>
  <title>Docwiczen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

<div>
	<p>
	<% if current_user %>
	  <%= current_user.email %>
	<% else %>
	  <%= "Witaj anonimowy użytkowniku!" %>
	<% end %>
	</p>
	<tr>
	  <td><%= link_to "Sign in", new_user_session_path if !current_user %></td>
	  <td><%= link_to "Sign up", new_user_registration_path  if !current_user  %></td>
	  <td><%= link_to "Sing out", destroy_user_session_path, method: :delete  if current_user  %></td>
	</tr>
</div>
<%= flash[:notice] %>
<%= flash[:warning] %>

<%= yield %>

</body>
</html>
